@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Você não tem permissão para acessar esta funcionalidade, <a asp-Controller = "Home" asp-action ="Index">Clique aqui para voltar para home.</a></p>